<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ks.sexfree1">
    <!-- 隐私权-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--uses-permission android:name="android.permission.GET_ACCOUNTS" /-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--<uses-permission android:name="android.permission.CALL_PHONE" />-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.REAL_GET_TASKS" />-->
    <!--<uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
    <!--<uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!--<uses-permission android:name="android.permission.RECORD_AUDIO" />-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--<uses-permission android:name="android.permission.SET_DEBUG_APP" />-->
    <!--<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <!--<uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS" />-->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <!-- 允许应用读取低级别的系统日志文件 -->
    <!--<uses-permission android:name="android.permission.READ_LOGS" />-->

    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />-->
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-sdk tools:overrideLibrary="com.andremion.music.cover" />
    <!--permission
        android:name="com.android.launcher.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" /-->
    <!--permission
        android:name="com.android.launcher.permission.WRITE_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" /-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name="com.ks.myapp.base.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Slide"
        tools:replace="android:allowBackup">

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5b56eb94b27b0a21af000024" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="06ab5668a76ad1be10a1ec82e7f6ddfb" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${CHANNEL_VALUE}" />
        <meta-data
            android:name="AdView_CHANNEL"
            android:value="${AD_CHANNEL_VALUE}" />

        <activity
            android:name=".ui.main.LaunchActivity"
            android:screenOrientation="portrait">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.MainFragmentViewPage"
            android:label="@string/main_activity_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.base.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.ks.myapp.ui.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.user.RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.user.FindPassActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.user.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.user.AddCustomeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.sound.SoundChannleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.sound.TextChannleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.sound.ImgChannleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.sound.VideoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.sound.VideoChannleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.sound.MovieChannleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.base.VideoWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ks.myapp.ui.sound.VitamioVideoPlayActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ks.myapp.ui.sound.VideoShowActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ks.myapp.ui.sound.VideoListShowActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ks.myapp.ui.sound.VideoShowActivityj"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name="com.ks.myapp.ui.sound.MyFullScreenImageGalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.base.CommonFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.feedback.FeedbackFragmentActivity"
            android:theme="@style/StyledIndicators"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.ks.myapp.ui.config.QuickBrowserConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myTransparent" />

        <service android:name="com.ks.myapp.service.LogUploadService" />
        <service android:name="com.ks.myapp.service.LogToFileService" />
        <service android:name="com.ks.myapp.service.PlayService" />


        <!-- 广告sdk-->
        <!--must-->
        <activity
            android:name="com.kuaiyou.video.vast.activity.VASTAdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="landscape"/>
        <service android:name="com.kyview.DownloadService" />
        <activity android:name="com.kyview.AdviewWebView" />
        <activity android:name="com.kyview.AdActivity" />
        <activity android:name="com.kyview.AdViewLandingPage" />
        <activity
            android:name="com.kyview.AdViewVideoActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:hardwareAccelerated="true" >
        </activity>


        <!-- AdView SDK for Youmi -->
        <!-- 视频组件 -->
        <!-- GDT -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.ks.sexfree1.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider" />
        </provider>

        <!-- 声明SDK所需要的组件 -->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false" >
        </service>

        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent" >
        </activity>

    </application>

</manifest>
