<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.openapi.ks.free1">
    <!-- 隐私权-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
<!--    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->
<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>-->
<!--    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:node="remove"/>-->
<!--    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" tools:node="remove" />-->

    <!--<uses-permission android:name="android.permission.REAL_GET_TASKS" />-->
<!--    <uses-permission android:name="android.permission.USE_CREDENTIALS" />-->
<!--    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <!--<uses-permission android:name="android.permission.SET_DEBUG_APP" />-->
<!--    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />-->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-sdk tools:overrideLibrary="com.andremion.music.cover" />

    <!--permission
        android:name="com.android.launcher.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" /-->
    <!--permission
        android:name="com.android.launcher.permission.WRITE_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" /-->
    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:name="com.openapi.myapp.base.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Slide"
        tools:replace="android:allowBackup"
        android:networkSecurityConfig="@xml/network_security_config"
        android:hardwareAccelerated="true">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6599725010915516~3496945548"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <activity
            android:name="com.openapi.ks.ui.main.LaunchActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.openapi.ks.ui.main.MainFragmentViewPage"
            android:label="@string/main_activity_name"
            android:launchMode="singleTask"
            android:theme="@style/StyledIndicators"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.base.WebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.openapi.myapp.ui.user.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.user.RegActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.user.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.user.AddCustomeInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.base.VideoWebViewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="nosensor"
            android:theme="@style/AppTheme"/>

        <activity
            android:name="com.openapi.myapp.ui.base.CommonFragmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.base.LocationFragmentActivity"
            android:theme="@style/StyledIndicators"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.feedback.FeedbackFragmentActivity"
            android:theme="@style/StyledIndicators"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.openapi.myapp.ui.config.QuickBrowserConfigActivity"
            android:screenOrientation="portrait"
            android:theme="@style/myTransparent" />
        <activity
            android:name="com.openapi.myapp.ui.base.MyFullScreenImageGalleryActivity"
            android:theme="@style/StyledIndicators"
            android:screenOrientation="portrait" />
        <service
            android:name="org.strongswan.android.logic.VpnStateService"
            android:exported="false" />
        <service
            android:name="org.strongswan.android.logic.CharonVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <!--android:process="com.timeline.vpn.service.vpnservice">-->
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <service android:name="com.openapi.myapp.service.LogUploadService" />
        <service android:name="com.openapi.myapp.service.LogToFileService" />

        <!-- 广告sdk-->
        <!-- AdView SDK for AdMob -->
<!--        <activity-->
<!--            android:name="com.google.android.gms.ads.AdActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"-->
<!--            android:theme="@android:style/Theme.Translucent" />-->

<!--        <meta-data-->
<!--            android:name="com.google.android.gms.version"-->
<!--            android:value="@integer/google_play_services_version" />-->

    </application>

</manifest>
