<?xml version="1.0" encoding="utf-8"?><!--
    Copyright (C) 2012-2014 Tobias Brunner
    Copyright (C) 2012 Giuliano Grassi
    Copyright (C) 2012 Ralf Sager
    Hochschule fuer Technik Rapperswil

    This program is free software; you can redistribute it and/or modify it
    under the terms of the GNU General Public License as published by the
    Free Software Foundation; either version 2 of the License, or (at your
    option) any later version.  See <http://www.fsf.org/copyleft/gpl.txt>.

    This program is distributed in the hope that it will be useful, but
    WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY
    or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License
    for more details.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.timeline.vpn"
    android:versionCode="1000001000"
    android:versionName="1.0.1.0">

    <meta-data
        android:name="YOUMI_CHANNEL"
        android:value="10000"/>
    <meta-data
        android:name="UMENG_APPKEY"
        android:value="57b56211e0f55ab5da0002a3" />
    <meta-data
        android:name="UMENG_CHANNEL"
        android:value="10000_wandoujia" />

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="21" />
    <meta-data
        android:name="com.timeline.vpn.common.util.MyGlideModule"
        android:value="GlideModule" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_UPDATES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.android.launcher.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />
    <permission
        android:name="com.android.launcher.permission.WRITE_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="VFNwiTplUvpm7iLaV6FBLNOkxFYrEbp1" />

        <activity android:name=".ui.main.LaunchActivity"></activity>
        <activity
            android:name=".ui.main.MainFragment"
            android:label="@string/main_activity_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.vpn.VpnManagerActivity" />
        <activity android:name=".ui.base.WebViewActivity" />
        <activity android:name=".ui.vpn.LocationChooseaActivity"></activity>
        <activity android:name=".ui.user.LoginActivity">

        </activity>
        <activity android:name=".ui.user.RegActivity" />

        <service
            android:name=".service.CharonVpnService"
            android:exported="false"
            android:permission="android.permission.BIND_VPN_SERVICE">
            <!--android:process="com.timeline.vpn.service.vpnservice">-->
            <intent-filter>
                <action android:name="android.net.VpnService" />
            </intent-filter>
        </service>
        <provider
            android:name="com.timeline.vpn.provider.CityProvider"
            android:authorities="com.tencent.provider.Citys" />
        <!--  ads  qq-->
        <service
            android:name="com.qq.e.comm.DownloadService"
            android:exported="false"></service>
        <activity
            android:name="com.qq.e.ads.ADActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"></activity>
        <!--  youmi ads-->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.NoTitleBar"></activity>
        <service
            android:name="net.youmi.android.AdService"
            android:exported="false"></service>
        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_INSTALL" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!--baidu ads-->
        <activity
            android:name="com.baidu.mobads.AppActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"></service>
        <!--duomeng ads-->
        <activity
            android:name="cn.domob.android.ads.DmActivity"
            android:theme="@android:style/Theme.Translucent"></activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>
</manifest>
